/* Write your CSS code in this file */
@font-face {
  font-family: 'ultraregular';
  src: url('fonts/Ultra-webfont.eot');
  src: url('fonts/Ultra-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Ultra-webfont.woff2') format('woff2'),
       url('fonts/Ultra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_arch_rivalregular';
  src: url('fonts/SF_Arch_Rival-webfont.eot');
  src: url('fonts/SF_Arch_Rival-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/SF_Arch_Rival-webfont.woff2') format('woff2'),
       url('fonts/SF_Arch_Rival-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hvd_bodedomedium';
  src: url('HVD_Bodedo-webfont.eot');
  src: url('HVD_Bodedo-webfont.eot?#iefix') format('embedded-opentype'),
       url('HVD_Bodedo-webfont.woff2') format('woff2'),
       url('HVD_Bodedo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




*
{
  margin:0px;
  padding: 0px;
}

body {
  background-color: rgb(11, 140, 191);
  width: auto;
  height: auto;
  font-family: Georgia, sans-serif;
}
#game-window {
  width: 800px;
  height: 700px;
  margin: 0 auto;
  background-color: aliceblue;  
}

header {
  background-color: rgb(242, 60, 19);
  color: white;
  margin-top: 10px;
 }

header h1 {
  font-family: 'ultraregular';
  height: 80px;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
}

#main {
  background-color: rgb(242, 186, 19);
  width: 800px;
}

#guess-feedback {
  width: 500px;
  height: 50px;
  background-color: brown;
  margin: 0 auto;
  text-align: center;
}
#feedback {
  padding-top: 10px;
  color: black;
  font-family: 'hvd_bodedomedium', Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.number {
  color: blue;
}

#previous-guesses-box {
  width: 500px;
  margin: 0 auto;
  background: red;
}

#previous-guesses-title {
  height: 50px;
  text-align: center;
  background: yellow;
}

#previous-guesses-title h4{
  font-size: 22px;
  font-family: 'sf_arch_rivalregular', Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  color: black;
}

#guess-remaining {
  height: 30px;
  text-align: center;
  padding-top: 20px;
  background: lightskyblue;
 

}
#user-guesses {
  height: 80px;
  background: plum;
  text-align: center;
  padding-top: 40px;
}

#button-box {
width: 500px;
height: 150px;
text-align: center;
background: lightcoral;
}

#buttons{
  margin-top: 35px;
  background-color: blueviolet;
}
#hint-box{
height: 110px;
width: 500px;
text-align: center;
background: lightcoral;
}

.button {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
}

#submit, #play-again {
  margin-right: 40px;
}

#input-guess {
  color: black;
  background-color: transparent;
  border: 1px ridge gainsboro;
  text-transform: uppercase;
  font-family: 'sf_arch_rivalregular', Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  margin-top: 10px;
}
#input-guess:hover, .button:hover {
  background-color: white;
}

ul {
  width: 500px;
  vertical-align: middle;
  text-align: center;
}
.guess {
  display: inline-block;
  padding-right: 10px;
  font-size: 54px;
  font-family: 'sf_arch_rivalregular', Georgia, Times, 'Times New Roman', serif;
}


#hint-box {
  text-align: center;
  height: 70px;
  background-color: aquamarine;
  padding-top: 20px;
}
#hint-message {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

footer {
  background-color: green;
  height: 90px;
}

#project-name {
  /* padding-top: 20px; */
  background-color: firebrick;
}
#project-name, #github-link {
  display: inline-block;
}